/*variable*/
$success : #5cb85c ;

/* Mobile-first */

img {
    max-width: 100%;
    height: auto;
}
#header img{
    width: 150px;
    height: 150px;
    margin: auto;
}
#search-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    width: 60%;
}
#bar{
    background-color:$success;
}
.nav-link{
    color: white;
    font-size: 17px;
}
header a{
    font-size: 25px;

    &:hover{
        font-weight: bold;
        color:$success;
    }
}
.row{
    display: flex;
    justify-content: center;
}
#homePicture{
    background:  url('../assets/donkey-background.jpg') center center fixed;
    opacity: 0.7;
}
#home p{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.picture01,.picture02{
    margin: auto;
    max-height: 470px;
    overflow: hidden;
}
 
// API
video{
    display: flex;
    margin: auto;
  }
  .platform{
      max-width: 20px;
  }
/* Media queries */

@media (min-width: 768px){
    #search{
        width: 70%;
    }
    .nav-link{
        font-size: 30px;
    }
}
@media (min-width: 1024px){
    #search{
        width: 50%;
    }
    h2{
        font-size: 40px;
    }
    #carouselExampleControls{
        max-width: 1500px;
        margin: auto;
    }
    #resume{
        font-size: 20px;
    }
    .picture01,.picture02{
        max-width: 1800px;
    }
    
}